html {
    font-family: arial;
}

body {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
        "nav header"
        "nav main";

    height: 100vh;
    margin: 0;
}

nav {
    background: #1c94d3;
    color: white;
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    background: #e2e8f0;
    grid-area: main;
}

nav > * {
    margin: 0;
    padding: 15px 50px 15px 15px;
}

#title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

#title svg {
    height: 1.8em;
    width: 1.8em;
    padding-right: 5px;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 5px;
}

svg {
    fill: currentColor;
}
