html {
    font-family: arial;
    --nav-color: #1c94d3;
    --foreground-color: white;
    --middle-color: #e2e8f0;
    --flair-color: #f0b429;
}

body {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
        "nav header"
        "nav main";

    height: 100vh;
    margin: 0;
}

nav {
    background: var(--nav-color);
    color: var(--foreground-color);
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    background: var(--middle-color);
    grid-area: main;
}

svg {
    fill: currentColor;
}

nav {
    & > * {
        margin: 0;
        padding: 15px 50px 15px 15px;
    }

    & a {
        color: inherit;
        text-decoration: inherit;
    }

    & a:hover {
        backdrop-filter: brightness(85%);
    }

    & #title {
        display: flex;
        align-items: center;
        font-size: 1.5em;

        & svg {
            height: 1.8em;
            width: 1.8em;
            padding-right: 5px;
        }
    }

    & ul {
        list-style: none;

        & li {
            padding: 5px;
        }
    }
}

